# Intermediate Scraping Homework: Wikipedia Table

In this assignment, we'll be extracting data from Wikipedia's table of the tallest buildings in Brooklyn: https://en.wikipedia.org/wiki/List_of_tallest_buildings_in_Brooklyn

### 0) Setup

Import `requests`, `BeautifulSoup`, and `pandas`. Although this homework uses `BeautifulSoup`, you can choose to use `lxml` instead, if you prefer.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### 1) Grab the HTML for the webpage linked above

Use `requests` to get the HTML, assigning it to a variable

In [2]:
import requests
http_response=requests.get('https://en.wikipedia.org/wiki/List_of_tallest_buildings_in_Brooklyn')
html=http_response.text

### 2) Convert the HTML into a `BeautifulSoup` object

In [3]:
from bs4 import BeautifulSoup
soup=BeautifulSoup(html)

### 3) Use `.select(...)` (and `[0]`) to select the main table

That's the one directly under the "Tallest buildings" heading.

Print out the first 100 characters of text from the table to make sure you have the right one.

In [139]:
main_table=soup.select("table.wikitable")[0]
main_table.text[:100]

'\n\nRank\n\nName[a]\n\nImage\n\nHeightft (m)\n\nFloors\n\nYear completed\n\nNotes\n\n\n1\n\nThe Brooklyn Tower\n\n\n\n1,066'

### 4) Use `.select(...)` (and `[0]`) again to select the table's first row

... which is its header. (Reminder that the `<thead>` tag is optional. Wikipedia tables don't use it.)

In [45]:
header=main_table.select("th")

### 5) Extract the column names from that header

Use `.strip()` to remove any leading or trailing whitespace from the names.

First, try doing this with a standard `for` loop:

In [49]:
for head in header:
    print (head.text.strip())

Rank
Name[a]
Image
Heightft (m)
Floors
Year completed
Notes

Try to do the same, but with a list comprehension:

In [48]:
header = main_table.select("th")
col_names = [header.text.strip() for header in header]
col_names

['Rank',
 'Name[a]',
 'Image',
 'Heightft (m)',
 'Floors',
 'Year completed',
 'Notes']

### 6) Select all non-header row *elements* from the table

Since the header was the first row, you'll want to skip that one. How many rows are there? (Check with your eyes that this number matches what you deduce from the rankings column in the browser-rendered table.)

In [180]:
row_els= main_table.select("tbody tr")[1:]

### 7) For each row, extract the text of each cell into a Python list

First, try this as two nested `for` loops:

In [165]:
tall_bldg = []
for row in row_els:
    row_cells = []
    for cell in row.select("td"):
        row_cells.append(cell.text)
    tall_bldg.append(row_cells)

tall_bldg

[['1\n',
  'The Brooklyn Tower\n',
  '\n',
  '1,066 (325)\n',
  '93\n',
  '2022\n',
  'Topped out in October 2021.[2][23][24][25]\n'],
 ['2\n',
  'Brooklyn Point\n',
  '\n',
  '720 (219)\n',
  '68\n',
  '2019\n',
  "The final phase of Extell's City Point development; topped out in April 2019, it is now the second tallest building in Brooklyn.[26] Also known as 138 Willoughby Street,[27][28] 1 City Point,[29] and City Point Tower III.[29][30][31]\n"],
 ['3\n',
  '11 Hoyt\n',
  '\n',
  '626 (191)\n',
  '51\n',
  '2020\n',
  "Topped out in June 2019.[32] A redevelopment of Macy's former footprint in Downtown Brooklyn, with a design seemingly inspired by 8 Spruce Street.[33][34]\n"],
 ['4\n',
  'The Hub\n',
  '\n',
  '611 (186)\n',
  '52\n',
  '2017\n',
  'Also known as 333 Schermerhorn Street. Topped out on December 16, 2015.[35][36][37][38][39]\n'],
 ['5\n',
  '98 Dekalb Avenue\n',
  'Upload image\n',
  '610 (186)\n',
  '49\n',
  '2025\n',
  'Topped out in June 2024.[40][41]\n'],
 ['6\n',
  'AVA DoBro\n',
  '\n',
  '596 (182)\n',
  '58\n',
  '2015\n',
  'Also known as 100 Willoughby Street, Avalon Willoughby Square, and 214 Duffield Street.[42][43][44]\n'],
 ['7\n',
  '388 Bridge Street\n',
  '\n',
  '590 (180)\n',
  '51\n',
  '2014\n',
  '[42][45][46]\n'],
 ['8\n',
  '589 Fulton Street\n',
  '\n',
  '575 (175)\n',
  '51\n',
  '2025\n',
  'Topped out in June 2024.[47][48]\n'],
 ['9\n',
  '346 Kent Avenue Tower I\n',
  'Upload image\n',
  '574 (175)\n',
  '57\n',
  '2024\n',
  'Topped out in December 2023.[49][50][51][52]\n'],
 ['10\n',
  '590 Fulton Street\n',
  '\n',
  '568 (173)\n',
  '52\n',
  '2016\n',
  'Also known as 250 Ashland Place and Gotham BAM Tower[53][54][55]\n'],
 ['11\n',
  '18 Sixth Avenue\n',
  '\n',
  '532 (162)\n',
  '49\n',
  '2022\n',
  'Also known as the Pacific Park B4 Tower.[56][57][58]\n'],
 ['12\n',
  'City Tower\n',
  '\n',
  '515 (157)\n',
  '46\n',
  '2016\n',
  'Also known as City Point Tower II,[59] 10 City Point, and 336 Flatbush Avenue Extension[60]\n'],
 ['13\n',
  'The Brooklyner\n',
  '\n',
  '514 (157)\n',
  '51\n',
  '2010\n',
  'Tallest high-rise building in Brooklyn between 2009 and 2013.[3][4][61][62]\n'],
 ['14\n',
  'Williamsburgh Savings Bank Tower\n',
  '\n',
  '512 (156)\n',
  '42\n',
  '1929\n',
  'Tallest high-rise building in Brooklyn between 1929 and 2009. Also known as One Hanson Place.[5][63]\n'],
 ['15\n',
  '540 Fulton Street\n',
  '\n',
  '511 (156)\n',
  '43\n',
  '2020\n',
  'Topped out in 2019.[64][65]\n'],
 ['16\n',
  '625 Fulton Street\n',
  'Upload image\n',
  '500 (152)\n',
  '35\n',
  '2024\n',
  'Topped out in December 2023.[66][67]\n'],
 ['17\n',
  'One Willoughby Square\n',
  '\n',
  '495 (151)\n',
  '34\n',
  '2021\n',
  "Originally planned as a 65-story residential development, the building is now under construction as a 34-story commercial and office space.[68] Topped out in October 2019, and is Brooklyn's tallest office building.[69]\n"],
 ['18\n',
  '66 Rockwell Place\n',
  '\n',
  '489 (149)\n',
  '44\n',
  '2014\n',
  '[70][71]\n'],
 ['19\n',
  'The Alloy Block - Phase One (100 Flatbush)\n',
  'Upload image\n',
  '482 (147)\n',
  '44\n',
  '2023\n',
  'Topped out in January 2023.[72][73]\n'],
 ['20\n',
  '12 Metrotech Center\n',
  '\n',
  '473 (144)\n',
  '32\n',
  '2005\n',
  'Also known as the Kings County Supreme and Family Courthouse.[74][75]\n'],
 ['21\n',
  '346 Kent Avenue Tower II\n',
  'Upload image\n',
  '472 (144)\n',
  '39\n',
  '2024\n',
  'Topped out in December 2023.[76]\n'],
 ['22\n',
  'Montague–Court Building\n',
  '\n',
  '462 (141)\n',
  '35\n',
  '1927\n',
  'Tallest high-rise building in Brooklyn between 1927 and 1929. Also known as 16 Court Street.[17][77]\n'],
 ['23\n',
  '15 Hanover Place\n',
  'Upload image\n',
  '463 (141)\n',
  '34\n',
  '2024\n',
  '[78][79]\n'],
 ['24\n',
  'Calyer Place Tower I\n',
  'Upload image\n',
  '439 (134)\n',
  '40\n',
  '2022\n',
  '[80][81]\n'],
 ['25\n',
  'One South First\n',
  '\n',
  '435 (133)\n',
  '42\n',
  '2019\n',
  'Topped out in 2019. The building contains 330 residential units, and 150,000 square feet of office space. [82] The skyscraper is the second structure to be developed as part of the Domino Sugar Factory redevelopment plan.[83][84]\n'],
 ['26\n',
  '196 Willoughby Street\n',
  '\n',
  '435 (133)\n',
  '34\n',
  '2020\n',
  '[85]\n'],
 ['27\n', 'Oro\n', '\n', '432 (132)\n', '40\n', '2008\n', '[86][87]\n'],
 ['28\n', 'Toren\n', '\n', '427 (130)\n', '37\n', '2009\n', '[88][89]\n'],
 ['29\n',
  'The Amberly\n',
  '\n',
  '425 (130)\n',
  '33\n',
  '2017\n',
  'Also known as 120 Nassau Street[1][90][91]\n'],
 ['30\n',
  '1 Metrotech Center\n',
  '\n',
  '412 (126)\n',
  '23\n',
  '1992\n',
  '[92][93]\n'],
 ['31\n',
  '664 Pacific Street\n',
  '\n',
  '412 (126)\n',
  '26\n',
  '2020\n',
  'Alternately addressed as 37 Sixth Avenue or 495 Dean Street.[94][95]\n'],
 ['32\n',
  '1 Clinton Street\n',
  '\n',
  '409 (125)\n',
  '38\n',
  '2019\n',
  'Also known as 280 Cadman Plaza West. Will replace a branch of the Brooklyn Public Library. Topped out in March 2019.[96][97][98]\n'],
 ['33\n',
  'DKLB BKLN\n',
  '\n',
  '405 (123)\n',
  '34\n',
  '2010\n',
  'Also known as 80 DeKalb Avenue.[99][100]\n'],
 ['34\n',
  '87 Commercial Street\n',
  'Upload image\n',
  '402 (123)\n',
  '40\n',
  '2022\n',
  '[101][102][103]\n'],
 ['35 =\n',
  '16 DuPont Street\n',
  'Upload image\n',
  '400 (122)\n',
  '40\n',
  '2024\n',
  'Topped out in January 2024.[104][105][106]\n'],
 ['36 =\n',
  'One Pierrepont Plaza\n',
  '\n',
  '400 (122)\n',
  '21\n',
  '1988\n',
  '[107]\n'],
 ['36 =\n',
  'BKLYN AIR\n',
  '\n',
  '400 (122)\n',
  '39\n',
  '2014\n',
  'Also known as Oro 2 Condominium.[108][109][110][111]\n'],
 ['36 =\n',
  '41 Blue Slip\n',
  '\n',
  '400 (122)\n',
  '40\n',
  '2020\n',
  'Topped out in May 2019.[112][113][114]\n'],
 ['36 =\n',
  'Greenpoint Block D 40 Story Tower\n',
  '\n',
  '400 (122)\n',
  '40\n',
  '2022\n',
  'Informally known as the Tetris buildings.[115][116] Alternately addressed as 221 West Street. Topped-out in April 2021.[117]\n'],
 ['36 =\n',
  '30 Front Street\n',
  'Upload image\n',
  '400 (122)\n',
  '26\n',
  '2022\n',
  'Topped out in August 2021.[118][119]\n'],
 ['41 =\n',
  'Brooklyn Renaissance Plaza\n',
  '\n',
  '398 (121)\n',
  '32\n',
  '1998\n',
  'Also known as the New York Marriott at the Brooklyn Bridge.[120][121]\n'],
 ['41 =\n',
  '1 North 4th Place\n',
  '\n',
  '398 (121)\n',
  '41\n',
  '2014\n',
  'Also known as Three Northside Piers, 1N4th, and One North Fourth.[122][123]\n'],
 ['41 =\n',
  '2 North 6th Place\n',
  'Upload image\n',
  '398 (121)\n',
  '40\n',
  '2016\n',
  '[124]\n'],
 ['44\n',
  '4 Metrotech Center\n',
  '\n',
  '394 (120)\n',
  '25\n',
  '1993\n',
  'Part of the MetroTech Center development[125][126]\n'],
 ['45\n',
  'Avalon Fort Greene\n',
  '\n',
  '393 (120)\n',
  '42\n',
  '2010\n',
  '[127][128]\n'],
 ['46\n',
  'The Greenpoint*\n',
  '\n',
  '392 (119)\n',
  '39\n',
  '2018\n',
  'Also known as 10 Huron and 21 India Street[129][130]\n'],
 ['47\n',
  "Jehovah's Witnesses Dormitory\n",
  '\n',
  '378 (115)\n',
  '30\n',
  '1995\n',
  '[131][132]\n'],
 ['48\n',
  '1 Bell Slip\n',
  'Upload image\n',
  '369 (112)\n',
  '31\n',
  '2022\n',
  '[133][134]\n'],
 ['49\n',
  '300 Ashland\n',
  '\n',
  '364 (111)\n',
  '32\n',
  '2016\n',
  'Also known as Brooklyn Academy of Music South (BAM South) and 286 Ashland Place.[135]\n'],
 ['50\n',
  '7 DeKalb Avenue\n',
  '\n',
  '361 (110)\n',
  '27\n',
  '2016\n',
  'Also known as City Point Tower I[136] and 70 Fleet Street.[137]\n'],
 ['51\n',
  '141 Willoughby Street\n',
  '\n',
  '360 (110)\n',
  '24\n',
  '2022\n',
  'Topped out in November 2021.[138] Former site of the Institute of Design and Construction.[139][140]\n'],
 ['52\n',
  '2230 Cropsey Avenue\n',
  '\n',
  '356 (109)\n',
  '30\n',
  '2023\n',
  'Topped out in February 2023. Also known as The Shoreline.[141][142]\n'],
 ['53\n',
  'Court and Remsen Building\n',
  '\n',
  '350 (107)\n',
  '27\n',
  '1926\n',
  'Tallest high-rise building in Brooklyn between 1922 and 1926. Also known as the Chamber of Commerce Building.[12][143][144]\n'],
 ['54\n',
  'BellTel Lofts\n',
  '\n',
  '348 (106)\n',
  '25\n',
  '1931\n',
  'Also known as the New York Telephone Company Building and 101 Willoughby Street.[145][146]\n'],
 ['55\n',
  '461 Dean Street\n',
  '\n',
  '347 (106)\n',
  '32\n',
  '2016\n',
  'Also known as B2 BKLYN.[147]\n'],
 ['56\n',
  '86 Fleet Place\n',
  '\n',
  '346 (105)\n',
  '32\n',
  '2017\n',
  '[148]\n'],
 ['57\n',
  '75 Livingston Street\n',
  '\n',
  '343 (105)\n',
  '30\n',
  '1926\n',
  'Also known as the Brooklyn Chamber of Commerce and Court Chambers Building.[149][150][151]\n'],
 ['58\n',
  'Tivoli Towers\n',
  '\n',
  '341 (104)\n',
  '33\n',
  '1974\n',
  '[152][153]\n'],
 ['59\n',
  '37 Blue Slip\n',
  '\n',
  '340 (104)\n',
  '30\n',
  '2018\n',
  'Also known as One Blue Slip.[154][155]\n'],
 ['60\n',
  'J Condominium\n',
  '\n',
  '337 (103)\n',
  '31\n',
  '2007\n',
  'Also known as J Condo.[156][157]\n'],
 ['61\n',
  '200 Cadman Plaza\n',
  '\n',
  '333 (101)\n',
  '33\n',
  '1973\n',
  '[158]\n'],
 ['62\n',
  'Archstone Brooklyn Heights\n',
  '\n',
  '331 (101)\n',
  '33\n',
  '2000\n',
  'Also known as 180 Montague Street.[159]\n'],
 ['63\n',
  'Two Northside Piers\n',
  '\n',
  '329 (100)\n',
  '30\n',
  '2009\n',
  '[160]\n'],
 ['64\n',
  '15 Metrotech Center\n',
  '\n',
  '325 (99)\n',
  '21\n',
  '2003\n',
  'Also known as the Empire Blue Cross Blue Shield Headquarters.[161][162]\n'],
 ['65\n',
  '1524 Sheepshead Bay Road\n',
  '\n',
  '321 (98)\n',
  '28\n',
  '2018\n',
  'Also known as 1 Brooklyn Bay, Avalon Brooklyn Bay, and 1501 Voorhies Avenue.[163][164]\n'],
 ['66\n',
  '123 Linden Boulevard\n',
  'Upload image\n',
  '320 (98)\n',
  '26\n',
  '2020\n',
  '[165]\n'],
 ['67 =\n',
  'St. George Towers\n',
  '\n',
  '315 (96)\n',
  '30\n',
  '1930\n',
  'Also known as the St. George Hotel.[166][167]\n'],
 ['67 =\n',
  'Quay Tower\n',
  'Upload image\n',
  '315 (96)\n',
  '28\n',
  '2018\n',
  'Also known as 50 Bridge Park Drive.[168]\n'],
 ['67 =\n',
  '550 Clinton Avenue\n',
  'Upload image\n',
  '312 (95)\n',
  '29\n',
  '2021\n',
  '[169][170]\n'],
 ['70 =\n',
  'Atlantic Terminal Houses 1\n',
  '\n',
  '310 (94)\n',
  '31\n',
  '1976\n',
  'Also known as Atlantic Terminal Site 4B and 487 Carlton Avenue.[171][172]\n'],
 ['70 =\n',
  '436 Albee Square\n',
  '\n',
  '310 (94)\n',
  '28\n',
  '2017\n',
  '[173]\n'],
 ['72\n',
  '77 Commercial Street\n',
  'Upload image\n',
  '306 (93)\n',
  '30\n',
  '2022\n',
  '[102][103][101]\n'],
 ['73\n',
  '111 Livingston Street\n',
  '\n',
  '301 (92)\n',
  '23\n',
  '1971\n',
  '[174][175]\n'],
 ['74\n',
  'Greenpoint Block D 30 Story Tower\n',
  '\n',
  '300 (91)\n',
  '30\n',
  '2022\n',
  'Informally known as the Tetris buildings. Alternately addressed as 221 West Street. Topped-out in April 2021.[115][116][117]\n'],
 ['75\n',
  'The Edge – South Tower\n',
  '\n',
  '298 (91)\n',
  '30\n',
  '2009\n',
  'Also known as The Edge I.[176][177]\n'],
 ['76\n',
  '595 Dean Street\n',
  'Upload image\n',
  '298 (91)\n',
  '27\n',
  '2022\n',
  'Topped out in February 2022.[178][179]\n'],
 ['77 =\n',
  'Beacon Tower\n',
  '\n',
  '297 (91)\n',
  '23\n',
  '2007\n',
  '[180][181]\n'],
 ['77 =\n',
  'One Northside Piers\n',
  '\n',
  '297 (91)\n',
  '29\n',
  '2008\n',
  '[182][183]\n'],
 ['77 =\n',
  '101 Clark Street\n',
  'Upload image\n',
  '295 (90)\n',
  '30\n',
  '1973\n',
  '[184][185]\n'],
 ['77 =\n',
  '240 Willoughby Street\n',
  'Upload image\n',
  '295 (90)\n',
  '30\n',
  '2023\n',
  'Topped out.[186][187]\n']]

Try the same, but with two list comprehensions (one nested in the other):

In [166]:
tall_bldg = [
    [cell.text.strip() for cell in row.select("td")]
    for row in row_els
]
tall_bldg

[['1',
  'The Brooklyn Tower',
  '',
  '1,066 (325)',
  '93',
  '2022',
  'Topped out in October 2021.[2][23][24][25]'],
 ['2',
  'Brooklyn Point',
  '',
  '720 (219)',
  '68',
  '2019',
  "The final phase of Extell's City Point development; topped out in April 2019, it is now the second tallest building in Brooklyn.[26] Also known as 138 Willoughby Street,[27][28] 1 City Point,[29] and City Point Tower III.[29][30][31]"],
 ['3',
  '11 Hoyt',
  '',
  '626 (191)',
  '51',
  '2020',
  "Topped out in June 2019.[32] A redevelopment of Macy's former footprint in Downtown Brooklyn, with a design seemingly inspired by 8 Spruce Street.[33][34]"],
 ['4',
  'The Hub',
  '',
  '611 (186)',
  '52',
  '2017',
  'Also known as 333 Schermerhorn Street. Topped out on December 16, 2015.[35][36][37][38][39]'],
 ['5',
  '98 Dekalb Avenue',
  'Upload image',
  '610 (186)',
  '49',
  '2025',
  'Topped out in June 2024.[40][41]'],
 ['6',
  'AVA DoBro',
  '',
  '596 (182)',
  '58',
  '2015',
  'Also known as 100 Willoughby Street, Avalon Willoughby Square, and 214 Duffield Street.[42][43][44]'],
 ['7', '388 Bridge Street', '', '590 (180)', '51', '2014', '[42][45][46]'],
 ['8',
  '589 Fulton Street',
  '',
  '575 (175)',
  '51',
  '2025',
  'Topped out in June 2024.[47][48]'],
 ['9',
  '346 Kent Avenue Tower I',
  'Upload image',
  '574 (175)',
  '57',
  '2024',
  'Topped out in December 2023.[49][50][51][52]'],
 ['10',
  '590 Fulton Street',
  '',
  '568 (173)',
  '52',
  '2016',
  'Also known as 250 Ashland Place and Gotham BAM Tower[53][54][55]'],
 ['11',
  '18 Sixth Avenue',
  '',
  '532 (162)',
  '49',
  '2022',
  'Also known as the Pacific Park B4 Tower.[56][57][58]'],
 ['12',
  'City Tower',
  '',
  '515 (157)',
  '46',
  '2016',
  'Also known as City Point Tower II,[59] 10 City Point, and 336 Flatbush Avenue Extension[60]'],
 ['13',
  'The Brooklyner',
  '',
  '514 (157)',
  '51',
  '2010',
  'Tallest high-rise building in Brooklyn between 2009 and 2013.[3][4][61][62]'],
 ['14',
  'Williamsburgh Savings Bank Tower',
  '',
  '512 (156)',
  '42',
  '1929',
  'Tallest high-rise building in Brooklyn between 1929 and 2009. Also known as One Hanson Place.[5][63]'],
 ['15',
  '540 Fulton Street',
  '',
  '511 (156)',
  '43',
  '2020',
  'Topped out in 2019.[64][65]'],
 ['16',
  '625 Fulton Street',
  'Upload image',
  '500 (152)',
  '35',
  '2024',
  'Topped out in December 2023.[66][67]'],
 ['17',
  'One Willoughby Square',
  '',
  '495 (151)',
  '34',
  '2021',
  "Originally planned as a 65-story residential development, the building is now under construction as a 34-story commercial and office space.[68] Topped out in October 2019, and is Brooklyn's tallest office building.[69]"],
 ['18', '66 Rockwell Place', '', '489 (149)', '44', '2014', '[70][71]'],
 ['19',
  'The Alloy Block - Phase One (100 Flatbush)',
  'Upload image',
  '482 (147)',
  '44',
  '2023',
  'Topped out in January 2023.[72][73]'],
 ['20',
  '12 Metrotech Center',
  '',
  '473 (144)',
  '32',
  '2005',
  'Also known as the Kings County Supreme and Family Courthouse.[74][75]'],
 ['21',
  '346 Kent Avenue Tower II',
  'Upload image',
  '472 (144)',
  '39',
  '2024',
  'Topped out in December 2023.[76]'],
 ['22',
  'Montague–Court Building',
  '',
  '462 (141)',
  '35',
  '1927',
  'Tallest high-rise building in Brooklyn between 1927 and 1929. Also known as 16 Court Street.[17][77]'],
 ['23',
  '15 Hanover Place',
  'Upload image',
  '463 (141)',
  '34',
  '2024',
  '[78][79]'],
 ['24',
  'Calyer Place Tower I',
  'Upload image',
  '439 (134)',
  '40',
  '2022',
  '[80][81]'],
 ['25',
  'One South First',
  '',
  '435 (133)',
  '42',
  '2019',
  'Topped out in 2019. The building contains 330 residential units, and 150,000 square feet of office space. [82] The skyscraper is the second structure to be developed as part of the Domino Sugar Factory redevelopment plan.[83][84]'],
 ['26', '196 Willoughby Street', '', '435 (133)', '34', '2020', '[85]'],
 ['27', 'Oro', '', '432 (132)', '40', '2008', '[86][87]'],
 ['28', 'Toren', '', '427 (130)', '37', '2009', '[88][89]'],
 ['29',
  'The Amberly',
  '',
  '425 (130)',
  '33',
  '2017',
  'Also known as 120 Nassau Street[1][90][91]'],
 ['30', '1 Metrotech Center', '', '412 (126)', '23', '1992', '[92][93]'],
 ['31',
  '664 Pacific Street',
  '',
  '412 (126)',
  '26',
  '2020',
  'Alternately addressed as 37 Sixth Avenue or 495 Dean Street.[94][95]'],
 ['32',
  '1 Clinton Street',
  '',
  '409 (125)',
  '38',
  '2019',
  'Also known as 280 Cadman Plaza West. Will replace a branch of the Brooklyn Public Library. Topped out in March 2019.[96][97][98]'],
 ['33',
  'DKLB BKLN',
  '',
  '405 (123)',
  '34',
  '2010',
  'Also known as 80 DeKalb Avenue.[99][100]'],
 ['34',
  '87 Commercial Street',
  'Upload image',
  '402 (123)',
  '40',
  '2022',
  '[101][102][103]'],
 ['35 =',
  '16 DuPont Street',
  'Upload image',
  '400 (122)',
  '40',
  '2024',
  'Topped out in January 2024.[104][105][106]'],
 ['36 =', 'One Pierrepont Plaza', '', '400 (122)', '21', '1988', '[107]'],
 ['36 =',
  'BKLYN AIR',
  '',
  '400 (122)',
  '39',
  '2014',
  'Also known as Oro 2 Condominium.[108][109][110][111]'],
 ['36 =',
  '41 Blue Slip',
  '',
  '400 (122)',
  '40',
  '2020',
  'Topped out in May 2019.[112][113][114]'],
 ['36 =',
  'Greenpoint Block D 40 Story Tower',
  '',
  '400 (122)',
  '40',
  '2022',
  'Informally known as the Tetris buildings.[115][116] Alternately addressed as 221 West Street. Topped-out in April 2021.[117]'],
 ['36 =',
  '30 Front Street',
  'Upload image',
  '400 (122)',
  '26',
  '2022',
  'Topped out in August 2021.[118][119]'],
 ['41 =',
  'Brooklyn Renaissance Plaza',
  '',
  '398 (121)',
  '32',
  '1998',
  'Also known as the New York Marriott at the Brooklyn Bridge.[120][121]'],
 ['41 =',
  '1 North 4th Place',
  '',
  '398 (121)',
  '41',
  '2014',
  'Also known as Three Northside Piers, 1N4th, and One North Fourth.[122][123]'],
 ['41 =',
  '2 North 6th Place',
  'Upload image',
  '398 (121)',
  '40',
  '2016',
  '[124]'],
 ['44',
  '4 Metrotech Center',
  '',
  '394 (120)',
  '25',
  '1993',
  'Part of the MetroTech Center development[125][126]'],
 ['45', 'Avalon Fort Greene', '', '393 (120)', '42', '2010', '[127][128]'],
 ['46',
  'The Greenpoint*',
  '',
  '392 (119)',
  '39',
  '2018',
  'Also known as 10 Huron and 21 India Street[129][130]'],
 ['47',
  "Jehovah's Witnesses Dormitory",
  '',
  '378 (115)',
  '30',
  '1995',
  '[131][132]'],
 ['48',
  '1 Bell Slip',
  'Upload image',
  '369 (112)',
  '31',
  '2022',
  '[133][134]'],
 ['49',
  '300 Ashland',
  '',
  '364 (111)',
  '32',
  '2016',
  'Also known as Brooklyn Academy of Music South (BAM South) and 286 Ashland Place.[135]'],
 ['50',
  '7 DeKalb Avenue',
  '',
  '361 (110)',
  '27',
  '2016',
  'Also known as City Point Tower I[136] and 70 Fleet Street.[137]'],
 ['51',
  '141 Willoughby Street',
  '',
  '360 (110)',
  '24',
  '2022',
  'Topped out in November 2021.[138] Former site of the Institute of Design and Construction.[139][140]'],
 ['52',
  '2230 Cropsey Avenue',
  '',
  '356 (109)',
  '30',
  '2023',
  'Topped out in February 2023. Also known as The Shoreline.[141][142]'],
 ['53',
  'Court and Remsen Building',
  '',
  '350 (107)',
  '27',
  '1926',
  'Tallest high-rise building in Brooklyn between 1922 and 1926. Also known as the Chamber of Commerce Building.[12][143][144]'],
 ['54',
  'BellTel Lofts',
  '',
  '348 (106)',
  '25',
  '1931',
  'Also known as the New York Telephone Company Building and 101 Willoughby Street.[145][146]'],
 ['55',
  '461 Dean Street',
  '',
  '347 (106)',
  '32',
  '2016',
  'Also known as B2 BKLYN.[147]'],
 ['56', '86 Fleet Place', '', '346 (105)', '32', '2017', '[148]'],
 ['57',
  '75 Livingston Street',
  '',
  '343 (105)',
  '30',
  '1926',
  'Also known as the Brooklyn Chamber of Commerce and Court Chambers Building.[149][150][151]'],
 ['58', 'Tivoli Towers', '', '341 (104)', '33', '1974', '[152][153]'],
 ['59',
  '37 Blue Slip',
  '',
  '340 (104)',
  '30',
  '2018',
  'Also known as One Blue Slip.[154][155]'],
 ['60',
  'J Condominium',
  '',
  '337 (103)',
  '31',
  '2007',
  'Also known as J Condo.[156][157]'],
 ['61', '200 Cadman Plaza', '', '333 (101)', '33', '1973', '[158]'],
 ['62',
  'Archstone Brooklyn Heights',
  '',
  '331 (101)',
  '33',
  '2000',
  'Also known as 180 Montague Street.[159]'],
 ['63', 'Two Northside Piers', '', '329 (100)', '30', '2009', '[160]'],
 ['64',
  '15 Metrotech Center',
  '',
  '325 (99)',
  '21',
  '2003',
  'Also known as the Empire Blue Cross Blue Shield Headquarters.[161][162]'],
 ['65',
  '1524 Sheepshead Bay Road',
  '',
  '321 (98)',
  '28',
  '2018',
  'Also known as 1 Brooklyn Bay, Avalon Brooklyn Bay, and 1501 Voorhies Avenue.[163][164]'],
 ['66',
  '123 Linden Boulevard',
  'Upload image',
  '320 (98)',
  '26',
  '2020',
  '[165]'],
 ['67 =',
  'St. George Towers',
  '',
  '315 (96)',
  '30',
  '1930',
  'Also known as the St. George Hotel.[166][167]'],
 ['67 =',
  'Quay Tower',
  'Upload image',
  '315 (96)',
  '28',
  '2018',
  'Also known as 50 Bridge Park Drive.[168]'],
 ['67 =',
  '550 Clinton Avenue',
  'Upload image',
  '312 (95)',
  '29',
  '2021',
  '[169][170]'],
 ['70 =',
  'Atlantic Terminal Houses 1',
  '',
  '310 (94)',
  '31',
  '1976',
  'Also known as Atlantic Terminal Site 4B and 487 Carlton Avenue.[171][172]'],
 ['70 =', '436 Albee Square', '', '310 (94)', '28', '2017', '[173]'],
 ['72',
  '77 Commercial Street',
  'Upload image',
  '306 (93)',
  '30',
  '2022',
  '[102][103][101]'],
 ['73', '111 Livingston Street', '', '301 (92)', '23', '1971', '[174][175]'],
 ['74',
  'Greenpoint Block D 30 Story Tower',
  '',
  '300 (91)',
  '30',
  '2022',
  'Informally known as the Tetris buildings. Alternately addressed as 221 West Street. Topped-out in April 2021.[115][116][117]'],
 ['75',
  'The Edge – South Tower',
  '',
  '298 (91)',
  '30',
  '2009',
  'Also known as The Edge I.[176][177]'],
 ['76',
  '595 Dean Street',
  'Upload image',
  '298 (91)',
  '27',
  '2022',
  'Topped out in February 2022.[178][179]'],
 ['77 =', 'Beacon Tower', '', '297 (91)', '23', '2007', '[180][181]'],
 ['77 =', 'One Northside Piers', '', '297 (91)', '29', '2008', '[182][183]'],
 ['77 =',
  '101 Clark Street',
  'Upload image',
  '295 (90)',
  '30',
  '1973',
  '[184][185]'],
 ['77 =',
  '240 Willoughby Street',
  'Upload image',
  '295 (90)',
  '30',
  '2023',
  'Topped out.[186][187]']]

### 8) Turn the data you've extracted into a `pandas` `DataFrame`

In [167]:
import pandas as pd
bldg_df = pd.DataFrame(tall_bldg, columns=col_names)
bldg_df

,Rank,Name[a],Image,Heightft (m),Floors,Year completed,Notes
0,1,The Brooklyn Tower,,"1,066 (325)",93,2022,Topped out in October 2021.[2][23][24][25]
1,2,Brooklyn Point,,720 (219),68,2019,The final phase of Extell's City Point develop...
2,3,11 Hoyt,,626 (191),51,2020,Topped out in June 2019.[32] A redevelopment o...
3,4,The Hub,,611 (186),52,2017,Also known as 333 Schermerhorn Street. Topped ...
4,5,98 Dekalb Avenue,Upload image,610 (186),49,2025,Topped out in June 2024.[40][41]
...,...,...,...,...,...,...,...
75,76,595 Dean Street,Upload image,298 (91),27,2022,Topped out in February 2022.[178][179]
76,77 =,Beacon Tower,,297 (91),23,2007,[180][181]
77,77 =,One Northside Piers,,297 (91),29,2008,[182][183]
78,77 =,101 Clark Street,Upload image,295 (90),30,1973,[184][185]
79,77 =,240 Willoughby Street,Upload image,295 (90),30,2023,Topped out.[186][187]

### 9) Which years are represented by at least 5 buildings?

In [179]:
bldg_df['Year completed'].value_counts().head(4)

Year completed
2022    11
2020     6
2016     6
2024     5
Name: count, dtype: int64

### 10) How many total floors do all the buildings have, combined?

In [174]:
bldg_df['Floors'].astype(int).sum()

2905

### 11) How many of the buildings have their own Wikipedia page?

For this, you'll need to query the row elements again; the information won't have been extracted into your `DataFrame`. 

(Hint: Whether a building has its own Wikipedia page isn't an explicit piece of data, but something you can infer from the presence of a particular sub-element.)

In [338]:
links=[]
for row in row_els:
    title=row.select('td')[1]
    if title.select('a'):
            links.append(title)

In [337]:
len(links)

18

### 12) How many have an image?

You could do this by testing for the presence of another element:

In [309]:
images=[]
for row in row_els:
    if (row.find('img')):
        images.append(row.find('img'))
len(images)

61

Or through information that's already in your `DataFrame`:

In [311]:
bldg_df['Image'].value_counts()

Image
                61
Upload image    19
Name: count, dtype: int64

### Bonus challenge

If we tried to run the same code on https://en.wikipedia.org/wiki/List_of_tallest_buildings_in_New_York_City instead, the results wouldn't be quite right. Try it. Then, examining the HTML of that page, try to figure out why.

If you want an extra-extra challenge, try writing code that would parse that table correctly.

In [ ]:
#not right now lol

---

---

---